In [1]:
from matplotlib import pyplot as plt
from matplotlib.dates import DateFormatter
import numpy as np
import xarray as xr
import pandas as pd
import scipy
from datetime import datetime, timedelta
import time
import seaborn
import matplotlib.dates as mdates
import bottleneck as bn
import PyCO2SYS as pyco2
import gsw
import math
import netCDF4 as nc
import requests

import chemO_funcs #import o2sat
from importlib import reload
import warnings
warnings.filterwarnings('ignore')

%cd phyto
%run PLT.py

/Users/akbaskind/Documents/Python Scripts/phyto

# Testing getting Hydrocat data using my `PLT` function

In [33]:
df = PLT.get_hydrocat('2022-01-01', '2022-12-30', 'PLT')
df

,TmStamp,hydrocatStart,hydrocatTemperature,hydrocatConductivity,hydrocatDissOxygen,hydrocatSalinity,hydrocatFluorescence,hydrocatTurbidity,hydrocatPH,DateTime,pH total
326,2022-01-04T09:31:15.400Z,None,6.5078,31.0263,9.592,30.7871,7.478,30.272,8.04,2022-01-04 04:31:15.400000,7.934479
331,2022-01-04T10:46:15.400Z,None,6.3631,30.9445,9.663,30.8278,1.844,3.473,8.04,2022-01-04 05:46:15.400000,7.934814
332,2022-01-04T11:01:15.200Z,None,6.3063,30.8235,9.633,30.7459,2.373,15.717,8.04,2022-01-04 06:01:15.200000,7.934773
333,2022-01-04T11:16:15.200Z,None,6.2367,30.7264,9.680,30.7015,3.158,5.010,8.04,2022-01-04 06:16:15.200000,7.934821
334,2022-01-04T11:31:15.200Z,None,6.2593,30.6975,9.698,30.6492,2.170,7.818,8.03,2022-01-04 06:31:15.200000,7.924688
...,...,...,...,...,...,...,...,...,...,...,...
31734,2022-12-29T22:46:29.000Z,12/29/2022 22:45:00,3.9276,27.7203,10.546,29.3688,0.097,64.257,8.12,2022-12-29 17:46:29,8.016546
31735,2022-12-29T23:01:29.000Z,12/29/2022 23:00:00,3.9210,27.7232,10.552,29.3782,0.093,64.640,8.11,2022-12-29 18:01:29,8.006574
31736,2022-12-29T23:16:29.000Z,12/29/2022 23:15:00,3.9183,27.7297,10.567,29.3882,0.123,64.546,8.12,2022-12-29 18:16:29,8.016597
31737,2022-12-29T23:31:29.000Z,12/29/2022 23:30:00,3.9342,27.7421,10.652,29.3883,0.123,65.017,8.13,2022-12-29 18:31:29,8.026570
31738,2022-12-29T23:46:29.000Z,12/29/2022 23:45:00,3.9737,27.7893,10.669,29.4079,0.119,65.074,8.12,2022-12-29 18:46:29,8.016536

# Setting up API retrieval from Google Sheets

> Make sure to have installed the necessary packages in your conda environment
>>```
conda activate base
pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
pip install gspread oauth2client df2gspread

> Have `credentials.json` in your working directory

> Have `servicecredentials.json` in your working directory

> Share your Google sheet with your service account: `google-sheets@third-faculty-385421.iam.gserviceaccount.com`

> Get spreadsheet key from your Google sheet and identify the worksheet you want

## This header will always be the same

In [4]:
#The scope is always look like this so we did not need to change anything
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

scope = [
   'https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
#Name of our Service Account Key
google_key_file = 'servicecredentials.json'
credentials = ServiceAccountCredentials.from_json_keyfile_name(google_key_file, scope)
gc = gspread.authorize(credentials)

# Retrieve lab samples from Google

In [22]:
spreadsheet_key = '17FFbtUuhUS4UtxB-OjKIP2wCYJoEAmaW6VaHQPcup9U'
wks_name = 'Sheet1'

#Opening the worksheet by using Worksheet ID
workbook = gc.open_by_key(spreadsheet_key)
#Selecting which sheet to pulling the data
sheet = workbook.worksheet(wks_name)

#Pulling the data and transform it to the data frame
values = sheet.get_all_values()
pull_tips = pd.DataFrame(values[1:], columns = values[0])
pull_tips

,Sample,Time,Location,depth,TA Temp (degC),TA (uM),DIC Temp (degC),DIC (uM),Salinity,"NOTE: Salinity values are currently either derived from buoy data or estimated to be 30 PSU. Abby will measure salinity in lab/update salinities with in situ observations once the semester is over. Additionally, some of the samples here haven't been run for TA yet. Abby will likely run that in the next couple of weeks."
0,PLT 5/9/22 surf A,5/9/22 7:30,PLT,surface,20.3,2075.47,22,1985.40452,30,
1,PLT 5/9/22 surf B,5/9/22 7:30,PLT,surface,20.3,2076.78,22,1955.71939,30,
2,PLT 4/28/22 A,4/28/22 7:30,PLT,surface,20.9,2078.825,22,1931.63783,30,
3,PLT 4/28/22 B,4/28/22 7:30,PLT,surface,20.9,2078.41,22,1931.62999,30,
4,PLT 5/22/22 bottom,5/22/22 7:30,PLT,bottom,20.9,2138.395,22,1978.53868,30,
5,GB B 9/9/22,9/9/22 11:30,GB,surface,21.3,1957.87,22.5,1883,28.6972,
6,GB A 9/9/22,9/9/22 11:30,GB,surface,21.3,1955.84,22.5,1882.8,28.6972,
7,GB B 9/20/22,9/20/22 11:30,GB,surface,21.3,2051.6,22.5,1938.6,29.4532,
8,GB A 9/20/22,9/20/22 11:30,GB,surface,21.3,2051.93,22.5,1937.2,29.4532,
9,GB A 10/25/22,10/25/22 11:30,GB,surface,21.3,2047.245,21.1,1931.6,28.738,
10,GB B 10/25/22,10/25/22 11:30,GB,surface,21.3,2043.31,21.1,1930.5,28.738,
11,GB A 11/9/22,11/9/22 11:30,GB,surface,21.3,2079.94,21.1,1964.5,29.1,
12,GB B 11/9/22,11/9/22 11:30,GB,surface,21.3,2080.755,21.1,1963.9,29.1,Salinity values in yellow were filled in using...
13,NB207,11/7/22 7:30,PLT,bottom,20.7,2120.575,20.9,1987.3,30.3119,
14,NB173,11/28/22 7:30,PLT,surface,20.7,2117.23,20.9,1985.4,30.7039,
15,NB183,11/28/22 7:30,PLT,bottom,20.7,2118.42,20.9,1984.9,30.7039,
16,NB143,11/14/22 7:30,PLT,bottom,20.7,2117.295,20.9,1987.2,30.7109,
17,NB217,11/14/22 7:30,PLT,surface,20.7,2122.38,20.9,1989.2,30.7109,
18,NB243,11/21/22 7:30,PLT,bottom,20.7,2106.4,20.9,1974.7,30.3457,
19,NB204,11/7/22 7:30,PLT,surface,20.6,2118.955,20.9,1985.8,29.9119,
20,NB216,11/21/22 7:30,PLT,surface,20.6,2105.09,20.9,1975.7,29.9119,
21,PLT 5/22/22 surf,5/22/22 7:30,GB,surface,20.6,2124.7,22,1969.69483,30,
22,NB175,,,,20.8,1981.64,21.1,1809.2,,
23,GB246,2/1/23 11:30,,,20.8,1641.375,21.1,1562.1,,
24,GB169,2/1/23 11:30,,,20.8,1651.6,21.1,1559,,
25,NB185 bottom,2/1/23 7:30,,bottom,20.8,2082.755,21.1,1917.3,23.213,
26,NB198,12/14/22 10:45,,bottom,20.8,2051.78,21.1,1944.2,,
27,NB104,1/10/23 7:30,,bottom,20.8,2118.415,21.1,1997.8,28.874,
28,NB164,1/10/23 7:30,,surface,20.8,2042.945,21.1,1910.3,28.874,
29,NB138,1/30/23 7:30,,bottom,20.8,2040.85,21.1,1887,27.4271,
30,NB177 surface,2/6/23 7:30,,surface,20.8,2079.165,21.1,1920.1,29.2407,
31,PLT 7/19/22,7/19/22 7:30,,surface,21.2,2098.69,21,1985.7,30.91,
32,PLT 7/26/22,7/26/22 7:30,,surface,21.2,2105.49,21,1989.7,30.8348,
33,PLT 7/11/22,7/11/22 7:30,,surface,21.2,2115.96,21,2050,30.5349,
34,PLT 9/25/22,9/25/22 7:30,,surface,21.2,2116.015,,,30.8767,
35,NB224 8/15/22,8/15/22 7:30,,surface,21.2,2087.29,21,1988,31.2946,
36,PLT 9/19/22,9/19/22 7:30,,surface,21.2,2092.26,21,1949,30.8339,
37,NB215,8/22/22 7:30,,surface,21.2,2113.075,21,1990.4,31.3697,
38,PLT 7/5/22,7/5/22 7:30,,surface,21.2,2095.22,21,1991.8,30.6356,
39,PLT223 8/8/22,8/8/22 7:30,,surface,,,21,2046.7,31.2079,
40,PLT 8/1/22,8/1/22 7:30,,surface,,,21,1949.9,31.0161,
41,PLT233 8/26/22,8/26/22 7:30,,surface,,,21,1929.6,31.181,
42,PLT 6/13/22,6/13/22 7:30,,surface,,,21,2004,30.0619,
43,PLT 8/20/22,8/20/22 7:30,,surface,,,21,2042.1,31.2474,
44,PLT 6/28/22,6/28/22 7:30,,surface,,,21.1,2005.1,30.3754,
45,NB110,3/20/23 7:30,,surface,,,21.1,1943.1,28.9638,
46,GB221,3/22/23 10:15,,surface,,,21.1,1889.3,,
47,GB196,3/22/23 10:15,,surface,,,21.1,1889.8,,
48,NB4,3/27/23 7:30,,surface,,,21.1,1820.9,27.4061,
49,NB167,3/6/23 7:30,,bottom,,,21.1,1946,29.0609,
50,NB168,3/20/23 7:30,,bottom,,,21.1,1969.4,28.9638,
51,NB192,2/27/23 7:30,,surface,,,21.1,1905.4,29.1138,
52,NB151,2/20/23 7:30,,bottom,,,21.1,1966.2,29.3921,
53,NB184,3/6/23 7:30,,surface,,,21.1,1902.9,29.0609,
54,NB79,3/27/23 7:30,,bottom,,,21.1,1921.4,27.4061,
55,NB239,2/20/23 7:30,,surface,,,21.1,1968.2,29.3921,
56,NB183 B,2/27/23 7:30,,bottom,,,21.1,1934.2,29.1138,
57,NB242 9/16/22,9/16/22 7:30,,,,,21,1991.3,30.8287,

In [40]:
df = pull_tips[['Sample', 'Time', 'Location', 'depth', 'TA Temp (degC)', 'TA (uM)',
       'DIC Temp (degC)', 'DIC (uM)', 'Salinity']]

## For some reason everything saved as a string so convert to appropriate data type

In [63]:
df['TA (uM)'] = pd.to_numeric(df['TA (uM)'])
df['TA Temp (degC)'] = pd.to_numeric(df['TA Temp (degC)'])
df['DIC (uM)'] = pd.to_numeric(df['DIC (uM)'])
df['DIC Temp (degC)'] = pd.to_numeric(df['DIC Temp (degC)'])
df['Salinity'] = pd.to_numeric(df['Salinity'])
df["DateTime"] = pd.to_datetime(df["Time"])
df.head()

,Sample,Time,Location,depth,TA Temp (degC),TA (uM),DIC Temp (degC),DIC (uM),Salinity,DateTime
0,PLT 5/9/22 surf A,5/9/22 7:30,PLT,surface,20.3,2075.470,22.0,1985.40452,30.0,2022-05-09 07:30:00
1,PLT 5/9/22 surf B,5/9/22 7:30,PLT,surface,20.3,2076.780,22.0,1955.71939,30.0,2022-05-09 07:30:00
2,PLT 4/28/22 A,4/28/22 7:30,PLT,surface,20.9,2078.825,22.0,1931.63783,30.0,2022-04-28 07:30:00
3,PLT 4/28/22 B,4/28/22 7:30,PLT,surface,20.9,2078.410,22.0,1931.62999,30.0,2022-04-28 07:30:00
4,PLT 5/22/22 bottom,5/22/22 7:30,PLT,bottom,20.9,2138.395,22.0,1978.53868,30.0,2022-05-22 07:30:00

## Drop missing data

In [64]:
for ind in df.index:
    if math.isnan(df['TA (uM)'][ind]) or math.isnan(df['DIC (uM)'][ind]):
        df = df.drop(ind)

## Convert units
* requires `gsw`

In [67]:
df['P'] = 0

In [68]:
df['rho_DIC'] = gsw.rho(df['Salinity'], df['DIC Temp (degC)'], df['P'])
df['rho_TA'] = gsw.rho(df['Salinity'], df['TA Temp (degC)'], df['P'])

df['DIC (umol/kg)'] = df['DIC (uM)']/df['rho_DIC']/0.001
df['TA (umol/kg)'] = df['TA (uM)']/df['rho_TA']/0.001


df.head()

,Sample,Time,Location,depth,TA Temp (degC),TA (uM),DIC Temp (degC),DIC (uM),Salinity,DateTime,P,rho_DIC,rho_TA,DIC (umol/kg),TA (umol/kg)
0,PLT 5/9/22 surf A,5/9/22 7:30,PLT,surface,20.3,2075.470,22.0,1985.40452,30.0,2022-05-09 07:30:00,0,1020.366971,1020.813221,1945.774977,2033.153526
1,PLT 5/9/22 surf B,5/9/22 7:30,PLT,surface,20.3,2076.780,22.0,1955.71939,30.0,2022-05-09 07:30:00,0,1020.366971,1020.813221,1916.682375,2034.436817
2,PLT 4/28/22 A,4/28/22 7:30,PLT,surface,20.9,2078.825,22.0,1931.63783,30.0,2022-04-28 07:30:00,0,1020.366971,1020.658514,1893.081494,2036.748797
3,PLT 4/28/22 B,4/28/22 7:30,PLT,surface,20.9,2078.410,22.0,1931.62999,30.0,2022-04-28 07:30:00,0,1020.366971,1020.658514,1893.073810,2036.342196
4,PLT 5/22/22 bottom,5/22/22 7:30,PLT,bottom,20.9,2138.395,22.0,1978.53868,30.0,2022-05-22 07:30:00,0,1020.366971,1020.658514,1939.046182,2095.113077

## Calculate pH for lab data

In [70]:
results = pyco2.sys(par1=df['TA (umol/kg)'],par2=df['DIC (umol/kg)'],par1_type=1,par2_type=2,salinity = df['Salinity'], temperature = df['DIC Temp (degC)'])
df['pH'] = df['pH']
df

KeyError: 'pH'

# SeaFET data 
No up-to-date version in the google drive, so this is an archived version from my local machine.

In [69]:
pH_data = pd.read_csv('/Users/akbaskind/Desktop/Dissertation/pH.csv')
pH_data.drop(pH_data.tail(6).index,inplace=True)
pH_data["DateTime"] = pd.to_datetime(pH_data["DateTime (UTC-04:00)"]) - timedelta(hours = 5)
pH_data

,FrameSync,DateTime (UTC-04:00),Sample Number (#),Error Flags (#),Temperature (Celsius),External pH (pH),Internal pH (pH),External pH (Volt),Internal pH (Volt),pH Temperature (Celsius),Pressure (Decibar),Salinity (psu),Conductivity (S/m),Oxygen (ml/L),Relative Humidity (%),Int Temperature (Celsius),Time,DateTime
0,SSPHOX02346,9/9/22 21:00,1,0,23.0835,7.7486,7.7211,-0.909148,-0.962519,22.9960,0.390,28.9213,4.30743,4.743,0.8,22.8,21:00:01,2022-09-09 16:00:00
1,SSPHOX02346,9/9/22 21:15,2,0,22.9676,7.7456,7.7146,-0.909641,-0.962943,22.9116,0.400,29.1746,4.33104,4.643,0.8,22.8,21:15:01,2022-09-09 16:15:00
2,SSPHOX02346,9/9/22 21:30,3,0,23.0644,7.7556,7.7256,-0.908880,-0.962263,22.9848,0.414,29.0708,4.32571,4.757,0.9,22.9,21:30:01,2022-09-09 16:30:00
3,SSPHOX02346,9/9/22 21:45,4,0,23.1619,7.7569,7.7270,-0.908768,-0.962145,23.0272,0.407,29.1291,4.34210,4.827,0.9,23.0,21:45:01,2022-09-09 16:45:00
4,SSPHOX02346,9/9/22 22:00,5,0,23.0252,7.7719,7.7369,-0.908272,-0.961610,23.0860,0.443,29.4415,4.37166,4.917,0.9,23.0,22:00:01,2022-09-09 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5829,SSPHOX02346,11/9/22 14:15,5830,0,14.3627,7.8973,7.8456,-0.908945,-0.958658,14.3767,0.611,30.1214,3.69639,5.457,0.0,14.4,14:15:01,2022-11-09 09:15:00
5830,SSPHOX02346,11/9/22 14:30,5831,0,14.3665,7.9010,7.8501,-0.908691,-0.958398,14.3710,0.611,30.0739,3.69146,5.469,0.0,14.4,14:30:01,2022-11-09 09:30:00
5831,SSPHOX02346,11/9/22 14:45,5832,0,14.3851,7.8829,7.8330,-0.909664,-0.959363,14.3843,0.614,30.0213,3.68724,5.475,0.0,14.4,14:45:01,2022-11-09 09:45:00
5832,SSPHOX02346,11/9/22 15:00,5833,0,14.4654,7.8734,7.8308,-0.910005,-0.959457,14.4306,0.615,29.8676,3.67711,5.482,0.0,14.4,15:00:01,2022-11-09 10:00:00
5833,SSPHOX02346,11/9/22 15:15,5834,0,14.5223,7.8799,7.8411,-0.909520,-0.958847,14.4872,0.621,29.7863,3.67294,5.467,0.0,14.4,15:15:01,2022-11-09 10:15:00

# Retrieve NB Fixed Station Monitoring Data
Remember, pH is in NBS

In [29]:


spreadsheet_key = '1XXFdxrZDcHTYUnLbQEZSgqvJpeNLIsKkE_HYJu1yTIo'
wks_name = 'MV'

#Opening the worksheet by using Worksheet ID
workbook = gc.open_by_key(spreadsheet_key)
#Selecting which sheet to pulling the data
sheet = workbook.worksheet(wks_name)

#Pulling the data and transform it to the data frame
values = sheet.get_all_values()
ds = pd.DataFrame(values[1:], columns = values[0])
ds

,Site,Agency,Date,Time,C,Temp,SpC,Salinity,DO%,DO Conc,...,,,,,,,,,,
0,B6-S,gsovs,05/01/22,0:00,5/1/22 0:00,,,,,,...,,,,,,,,,,
1,B6-S,gsovs,05/01/22,0:15,5/1/22 0:15,,,,,,...,,,,,,,,,,
2,B6-S,gsovs,05/01/22,0:30,5/1/22 0:30,,,,,,...,,,,,,,,,,
3,B6-S,gsovs,05/01/22,0:45,5/1/22 0:45,,,,,,...,,,,,,,,,,
4,B6-S,gsovs,05/01/22,1:00,5/1/22 1:00,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19771,B6-S,gsovs,11/22/22,22:45,11/22/22 22:45,,,,,,...,,,,,,,,,,
19772,B6-S,gsovs,11/22/22,23:00,11/22/22 23:00,,,,,,...,,,,,,,,,,
19773,B6-S,gsovs,11/22/22,23:15,11/22/22 23:15,,,,,,...,,,,,,,,,,
19774,B6-S,gsovs,11/22/22,23:30,11/22/22 23:30,,,,,,...,,,,,,,,,,
19775,B6-S,gsovs,11/22/22,23:45,11/22/22 23:45,,,,,,...,,,,,,,,,,